<h1>New Blog</h1>
<div style="margin-top: 20px;">
<%= form_for @blog, html: { class: 'form-horizontal' } do |f| %>
<%= render 'shared/error_log', target: @blog %>
  <div class='control-group'>
    <%= f.label :group_id, class: 'control-label' %>
    <div class='controls'>
      <%= f.select :group_id, Group.all.map { |group| [group.group_name,group.id]  },class: 'input-xxlarge' %>
    </div>
  </div>
  <div class='control-group'>
    <%= f.label :title, class: 'control-label' %>
    <div class='controls'>
      <%= f.text_field :title, class: 'input-xxlarge' %>
    </div>
  </div>
  <div class='control-group'>
    <%= f.label :body, class: 'control-label' %>
    <div class='controls'>
      <%= f.text_area :body, class: 'input-xxlarge', size: '10x10' %>
    </div>
  </div>
  <div class='form-actions'>
    <%= f.submit "Create Blog", class: 'btn btn-success' %>
  </div>
<% end %>
</div>