<li><%= link_to "Talk Anything", class: 'btn' %></li>
<li><%= link_to "Question", class: 'btn' %></li>
<li><%= link_to "Coding", class: 'btn' %></li>
<li><%= link_to "Guru Club", class: 'btn' %></li>
<li><%= link_to "Vip zone", class: 'btn' %></li>
<li><%= link_to "Contact us",@contact, class: 'btn btn-large' %></li>