<li><%= link_to "All Blogs", blogs_path,class: 'btn' %></li>
<li><%= link_to "Talk Anything", blogs_path,class: 'btn' %></li>
<li><%= link_to "Question", blogs_path,class: 'btn' %></li>
<li><%= link_to "Coding", blogs_path,class: 'btn' %></li>
<li><%= link_to "Guru Club", blogs_path,class: 'btn' %></li>
<li><%= link_to "Vip zone", blogs_path,class: 'btn' %></li>
<li><%= link_to "Contact us", class: 'btn' %></li>